/*Styles for magnific-popup Gallery*/
a{
    text-decoration: none;
}
.form-group-gallery{
    display: none;
    height: 100%;
    width: 100%;
    
}
.form-check-gallery{
    height: auto;
    width: 80%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto
}
.inner-box{
    padding: 0px ;
    display: flex;
    position: relative;
/*    margin:  0% auto;*/
    width: 100%;
    height: auto;
    
    align-content: center;
    justify-content: center;
    font-size: 2rem;
    animation-name: bgPopupContant;
    animation-duration: 0.7s; 
    box-shadow: 0 5px 10px 0 rgba(0,0,0,0.5),
        0 7px 20px 0 rgba(0,0,0,0.4);
}
img{
    object-fit: cover;
}
#popup3{
/*    border: solid green  5px;*/
}

@keyframes bgPopupContant{
    from{
        opacity: 0.9;
        transform: scale(.9);
        
    }to{
        opacity: 1;
        transform: scale(1);
    }
}
.form-check-label-gallery{
    padding: 5px 0 0 0;
    position: absolute;
    top:0px;
    width: 100%;
    color: #fff;
    text-shadow: 1px 1px 1px #000;
    background: rgba(40,40,40, 0.2);
    border-radius: ;
}
.form-check-input-gallery{
    position: relative;
    top: 0;
    left: 0px;
    margin:  20px;
    box-sizing: 100px;
    -ms-transform: scale(2); /* IE */
    -moz-transform: scale(2); /* FF */
    -webkit-transform: scale(2); /* Safari and Chrome */
    -o-transform: scale(2); /* Opera */
    
}
.mfp-close-btn-in .mfp-close:hover {
    color: #fff;
}
/*Buttons styles*/
.bgSelectBtn{
    position: absolute;
    bottom: 0;
    background: lightgreen;
    
}












