*{
    margin: 0;
    padding: 0;
}
.bg-modal{
    min-height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.88);
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    display: flex;
    display: none;
    justify-content: center;
    align-items: center;
    overflow: auto;
    animation-name: modalPopup;
    animation-duration: 1s;
}
@keyframes modalPopup{
    from{
        opacity: 0;
    }to{
        opacity: 1;
    }
}
.modal-body2 {
    position: relative;
    -webkit-box-flex: 1;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    padding: ;
}

.modal-header {
    background-image: url("../images/exit-header.jpg");
    background-repeat: no-repeat;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    max-width: 733px;
    width: 100%;
    text-align:center;
}
.modal-title {
    text-align: center;
    color: #cc0000;
    font-size: 33px;
    line-height: 34px;
    font-family: Georgia, "Times New Roman", times, serif;
    text-align: center;
    margin: auto;
    font-weight: bold;
    text-shadow: 1px 1px 3px #000000;
}
.col-md-6 {
    text-align: center;
    vertical-align: middle;
    color: #cc0000;
    font-size: 28px;
    line-height: 29px;
    font-family: Georgia, "Times New Roman", times, serif;
    text-align: center;
    margin: auto;
    font-weight: bold;
    text-shadow: 1px 1px 3px #000000;
}
.modal-title img {
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    max-width: 733px;
    width: 100%;
    margin: 0;
}

#closeModalBtn{
    background-color: rgba(40, 40, 40, 1);
    font-size: 30px;
    height: 32px;
    width: 32px;
    text-decoration: none;
    text-align: center;
    justify-content: center;
    position: absolute;
    top: -20px;
    right: -20px;
    float: right;
    color: #fff;
    border-radius: 50%;
    border: solid;
    z-index: 0;
    box-shadow: 0 5px 10px 0 rgba(0,0,0,0.5), 0 7px 20px 0 rgba(0,0,0,0.4);
}

#closeModalBtn p {
    position: relative;
    font-size: 33px;
    margin: 0;
    padding: 0;
/*    position: relative;*/
    top: 35%;
    transform: translateY(-50%);
}
#closeModalBtn:hover{
    background: #fff;
    border: #fff;
}
#closeModalBtn:hover, #closeModalBtn:focus{
    text-decoration: none;
    cursor: pointer;
    color: #000;
}
/* If the screen size is 601px wide or more, set the font-size of <div> to 80px */
@media screen and (min-width: 601px) {
  div p {
    font-size: 33px;
    line-height: 34px;
    
  }
}

/* If the screen size is 600px wide or less, set the font-size of <div> to 30px */
@media only screen and (max-width: 766px) {
  div p {
    font-size: 23px;
    line-height: 24px;
    margin-bottom: 0;
  }
    h4 p {
       margin-bottom: 5px; 
    }
    .body-img{
        max-width: 200px;
}
    .bg-modal{
         
    }
    .modal-content{
        max-width: 90%;
        max-height: 100vh;
        overflow-y: auto;
    }
    form{
        padding-top: 0;
    }
    
}
@media only screen and (max-width: 400px) {
  div p {
    font-size: 18px;
    line-height: 1.2em;
    margin-bottom: 0;
  }
    h4 p {
       margin-bottom: 5px; 
    }
    .body-img{
        max-width: 200px;
    }
    .arrow{
        max-width: 150px;
    }
    .bg-modal{
         
    }
    .modal-content{
        max-width: 90%;
        max-height: 100vh;
        overflow-y: auto;
    }
    form{
        padding-top: 0;
    }
    
}
.modal-content{
    overflow: visible ;
    z-index: 2;
    max-width: 733px;
    margin: 20px;
    position: relative;
    text-align: center;
    border-style: solid;
    border-color: red;
    border-width: 3px;
    border-radius: 15px;
/*    width: 733px;*/
    width: auto;
    min-height: 600px;
    height: auto;
    background: rgba(255,255,255, 1);
    box-shadow: 0 5px 8px 0 rgba(0,0,0,0.2),0 7px 20px 0 rgba(0,0,0,0.17);
}
.close{
    font-size: 40px;
    position:absolute;
    top: 0;
    left: 85%;
    float: right;
/*    color: #e13a3b;    */
}
.close:hover, .close:focus{
    text-decoration: none;
    cursor: pointer;
}

}
.modal-footer{
   justify-content: center;
}
/*Form Control styling*/
form{
    width: 100%;
}
.email-and-button{
    padding: 0 20px 10px;
    margin: 0;
}

.form-control:focus {
  border-color: darkseagreen;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(0, 255, 171, 0.6);
}

.button {
    width: 100%;
    min-height: 1.5em;
    background: #f39d13;
    background: -webkit-linear-gradient(top, #f39d13 0, #c64f01 100%);
    background: linear-gradient(to bottom,#f39d13 0,#c64f01 100%);
    border-radius: 10px;
    border: 1px solid #c94f00;
    text-shadow: 0 1px #bf1802;
    color: #fff;
    font-family: HelveticaNeue,"Helvetica Neue",Helvetica,Arial,sans-serif;
}
